*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    }
    /*  selection bars  */
    select {
    
        -webkit-appearance:none;
        -moz-appearance:none;
        -ms-appearance:none;
        appearance:none;
        outline:0;
        box-shadow:none;
        border:0!important;
        background: #EFA3C8;
        background-image: none;
        flex: 1;
        padding: 0 .5em;
        color:#0081B4;
        
        cursor:pointer;
        font-size: 1em;
        font-family: 'Open Sans', sans-serif;
     }
     select::-ms-expand {
        display: none;
     }
     .select {
        position: relative;
        display: flex;
        width: 200px;
        height: 40px;
        line-height: 3;

        overflow: hidden;
        border-radius: .25em;
     }
     .select::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 1em;
        background: #FAD3E7;
        cursor:pointer;
        pointer-events:none;
        transition:.25s all ease;
     }
     .select:hover::after {
        color: #e6b4dd;
     }  
     .selects{
      display: flex;
     }
     .selects .select{
      margin-right: 20px;
     }
/*  selection bars */

/*  Table Styling  */
     .Planning-table {
        
        margin-left: 72px;
        
     }  
     .logo
     {
      color: white;
     }
     body{
        background-color: #eee6ea;
     }  
.tableheader{
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: linear-gradient(rgba(0 , 0 , 0 , 0.55) , rgba(0 , 0 , 0 , 0.55)) , url(images/header.jpg);
    background-position:center ;
    background-size:cover;
   
  }
.tablesection{

overflow: auto;
height: 700px;
}
table{

width: 100%;
table-layout: fixed;
min-width: 900px;
border-collapse: collapse;

}
thead th{
top: 0;
background-color: #e4cee6;
color: #0e3b77;
font-size: 15px;

}
th{
   color: #0e3b77;
}
td,th{
border-bottom: 1px solid #0e3b77;
padding: 10px 20px ;
word-break: break-all;
text-align: center;

}
tr:hover td{

    color: #4e1b58;
    cursor: pointer;
    background-color: #EFA3C8;

}


  
